/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  font-family: "Tahoma";
}

#zone-user {
  height: 28px;
  background-color: #f1f1f1;
  color: #4a4a4a;
  font-size: 13px;
}

#zone-user .slogan_block p {
  line-height: 28px;
}

#zone-user .block-main-menu h2 {
  display: none;
}

#zone-user .block-main-menu ul li { 
  list-style: none;
  float: left;
  
}

#zone-user .block-main-menu ul li a { 
  text-decoration: none;
  color: #4a4a4a;
}

#zone-branding .logo-img {
  margin-right: 75px;
}

#zone-branding .header-mid {
}

#zone-branding .wrap-header-left-clearfix {
  
}

#zone-branding .wrap-header-left {
  width: 855px;
  float: left;
}
#zone-branding .wrap-header-right {
  width: 321px;
  height: 133px;
  background:  url(../img/hotdeal.png) no-repeat left top;
  float: right;
  position: relative;
}


#zone-branding .link-km {
  position: absolute;
  bottom: 0;
  width: 321px;
  height: 45px;
  text-indent: -9999999px;
}

.wrap-header-left #search-block-form .form-item input {
  width: 565px;
  height: 32px;
  margin-right: -5px;
}

.wrap-header-left #search-block-form .form-actions input {
  background:  url(../img/button-search.png) no-repeat left top;
  width: 44px;
  height: 33px;
  border-radius: 0;
  text-indent: 999px;
}

.menu-aj {
  width: 123px;
  height: 46px;
  background:  url(../img/menu.png) no-repeat left top;
  float: left;
}

.wrap-search-block {
  float: left;
  width: 731px;
  height: 44px;
  border-bottom: 1px solid #d3d3d3;
}

.label-search {
  float: left;
  line-height: 46px;
padding: 0 15px;
}

.wrap-search-block #search-block-form {
  margin-top: 5px;
}

.wrap-search-menu-block {
  margin-top: 18px;
}

#zone-header .block-title {
  display: none;
}

.menu-category {
  float: left;
}

.menu-category ul.nice-menu {
  border-top: none;
  height: 312px;
  border-radius: 0 0 3px 3px;
  border-bottom: 3px solid #0087ba;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.menu-category ul li a{
  text-decoration: none;
  color: #4c4c4c;
  font-weight: bold;
  font-size: 12px;
  line-height: 36px;
}

.menu-category ul li {
  height: 45px;
  background-color: #fff!important;
  border: none;
}

.menu-category ul li ul li {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.menu-category ul li ul li.last {
  border-radius: 0 0 3px 3px;
  border-bottom: 3px solid #0087ba;
}

/* Block slideshow */
.block-slide-homepage-block {
  margin-left: 172px;
  padding-top: 5px;
  width: 710px;
}

.block-slideshow {
  position: relative;
}
.block-slideshow .views-slideshow-cycle-main-frame .views-field-field-image img {
  width: 100%;
  border: none;
}
.block-slideshow .views-slideshow-controls-bottom {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 99;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  float: left;
  background: url(../img/slide_nav.png) no-repeat;
  width: 25px;
  text-indent: 30px;
  z-index: 99;
  overflow: hidden;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item img {
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active,
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item:hover {
  background: url(../img/slide_nav_active.png) no-repeat;
}
